/* HEADER STYLE */

body {
    margin: 0;
    padding: 0;
  }

#barra {
    background-color: #add8e6;
    display: flex;
    justify-content: center;
    height: 80px;
}

.menu {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 70%; 
} 

#barra .menu > div {
    background-color: #daa520;
    border: 1px dashed #000;
    padding: 10px;
}

.logo{
    flex-grow: 1;
    text-align: left;
}

.link {
    flex-grow: 2;
    text-align: center; 
}

.login{
    flex-grow: 1;
    text-align: right;
}


/* BODY STYLE */
.posizione{
    padding-top: 50px;
    padding-bottom: 50px;
    
}

.square{
    background-color: #ee82ee;
    margin: 0 auto;
    height: 400px;
    width: 900px;
    border: 1px dashed #000;
}


/* STILE BOX ENORME */
.blocco{
    background-color: #228b22;
    align-items: stretch;
    justify-content: center;
    margin: 0 auto;
    width: calc(100% - 30%);
    height: 800px;              /* ALTEZZA */
    border: 1px dashed #000;
}

.due-blocchi{
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin: 0 auto;
    width: calc(100% - 30%);
    height: 500px;
    
}

/* DA CHIEDERE SE è GIUSTO CREARE CSS+ROW-REVERSE O INVERTIRE SEMPLICEMENTE I DIV PER
OTTENERE LO STESSO RISULTATO */
.due-blocchi-reverse {
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin: 0 auto;
    width: calc(100% - 30%);
    flex-direction: row-reverse; 
}

.colonna{
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin: 0 auto;
    width: calc(100% - 30%);
    
}

/* stile tabella a colonna */
.tabella{
    height: 580px;
    border: 1px dashed #000;
}

.sx {
    background-color: #f08080;
    flex-grow: 1 ;
}

.dx{
    background-color: #20b2aa;
    flex-grow: 2 ;
    display: flex;
}

.dx > div {
    flex-grow: 1;
    border: 1px dashed #ffffff;
}

/* STILI PER I BOX A DUE BLOCCHI */
.box{
    border: 1px dashed #000;
    height: 500px;
}

.pink{
    background-color: #ffc0cb;
    flex-grow: 1 ;
}

.azul{
    background-color: #1e90ff;
    flex-grow: 2 ;
}


/* STILI PER IL BACKGROUND */

.bg-blue {
    background-color: #00008b;
}

.bg-white {
    background-color: #ffffff;
}

.bg-grey {
    background-color: #d3d3d3;
}

.bg-black {
    background-color: #23272a;
}


/* FOOTER */



#fine {
    background-color: #23272a; 
    display: flex;
    justify-content: center;
    height: 80px;
}

.menu-fine {
    display: flex;
    align-items: center;
    width: 70%; 
     
    
}

.menu-fine > div {
    background-color: #7fffd4; 
    width: 100%;
    padding: 10px;
    margin-top: 40px;
 
}

.info{
    display: flex;
    justify-content: space-between;
    
    
}

.logo1{
    background-color: #ffb6c1; 
    border: 1px dashed #000;
    width:  auto;
    text-align: left;

}

.bottone {
    background-color: #ffb6c1; 
    border: 1px dashed #000;
    width: 10px;
    text-align: right;
    width: auto;
    
}
